.popup__submit-button {
  background-color: black;
  min-height: 50px;
  width: 358px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 22px auto;
  border: none;
  padding: 4px;
}

.popup__submit-button:hover {
  background-color: rgb(0, 0, 0, .8);
}

@media screen and (max-width: 900px) {
  .popup__submit-button {
    min-height: 40px;
    width: 230px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 16px;
  }
}
