.popup__radio-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media screen and (max-width: 900px) {
    .popup__radio-items {
      max-width: 260px;
      margin: 0 auto;
    }
  }