    @font-face {
    font-family: 'Grotesque';
    font-style: normal;
    font-weight: 400;
    src: local('Noah Grotesque Regular'), url('/fonts/Noah\ Grotesque\ Regular.woff') format('woff');
    }

    @font-face {
    font-family: 'Grotesque';
    font-style: normal;
    font-weight: 200;
    src: local('Noah Grotesque Light'), url('/fonts/Noah\ Grotesque\ Light.woff') format('woff');
    }

    @font-face {
    font-family: 'Grotesque';
    font-style: normal;
    font-weight: 700;
    src: local('Noah Grotesque Bold'), url('/fonts/Noah\ Grotesque\ Bold.woff') format('woff');
    }
    
    @font-face {
        font-family: 'Grotesque';
        font-style: normal;
        font-weight: 800;
        src: local('Noah Grotesque Bolder'), url('/fonts/BasisGrotesqueMonoPro-Bold.woff') format('woff'),
        local('Noah Grotesque Bolder'), url('/fonts/BasisGrotesqueMonoPro-Bold.woff2') format('woff2');
        }

    @font-face {
    font-family: 'Grotesque';
    font-style: normal;
    font-weight: 900;
    src: local('Noah Grotesque Black'), url('/fonts/Noah\ Grotesque\ Black.woff') format('woff');
    }
    
