.quotes {
  margin: 155px 76px 142px 76px;

}

@media screen and (max-width: 1000px){
  .quotes {
    margin: 90px 76px 90px 76px;
  }
}

@media screen and (max-width: 450px){
  .quotes {
    margin: 90px 40px;
  }
}
