.popup__label {
    margin: 0 10px;
    display: flex;
    align-items: flex-start;
}

@media screen and (max-width: 900px) {
    .popup__label {
      font-size: 10px;
      max-width: 260px;
      margin: 0 auto;
    }
  }
