.footer {
    background-color: #FECEA8;
    min-height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
}